/* .drop-item {
    display: block;
    position: relative;
  }
  
  .nav-content {
    margin-left: 20px;
    display: none;
    flex-direction: column;
  }
  
  .drop+.nav-content {
    display: block;
  }
  
  .nav-content a .drop-item {
    margin-bottom: 2%;
  } */
